
.custom-rounded-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
  position: relative;
  --col-checkbox-main-bg: #185ef4;
  --col-checkbox-tick: #d3d3d3;
  --col-checkbox-unticked-border: #ccc;
}

.custom-rounded-checkbox > span {
  background-color: var(--col-checkbox-tick);
  border: 1px solid var(--col-checkbox-unticked-border);
  border-radius: 5%;
  cursor: pointer;
  height: 21px;
  left: 10px;
  position: absolute;
  top: 15px;
  width: 21px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.custom-rounded-checkbox > span:after {
  border: 2px solid var(--col-checkbox-tick);
  border-top: none;
  border-right: none;
  content: "";
  height: 3px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 12px;
}

.custom-rounded-checkbox input[type="checkbox"] {
  visibility: hidden;
}

.custom-rounded-checkbox input[type="checkbox"]:checked + span {
  background-color: var(--col-checkbox-main-bg);
  border-color: var(--col-checkbox-main-bg);
}

.custom-rounded-checkbox input[type="checkbox"]:checked + span:after {
  opacity: 1;
}